# Environment variables - JANGAN di-commit!
.env

# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/
ENV/

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Flask
instance/
*.sqlite3

# Logs
*.log
